<!--

    {
        i:0, //index button
        activesubmenu:'', //'active' or ''
        hasLink:true,
        link:'/url',
        hasOnclick:false,
        onclick:'', //'function()'
        text:''
    }

-->
<% var idx = text.replace(/\s+/g, "")+'-submenu'; %>

<div class="div-detailmenu <%-i!=lastindex?'mb-3':''%> <%-activesubmenu%>" id="menu-<%-idx%>" <%-hasLink?`onclick="window.open('${link}?sc=menu-${idx}','_self')"`:''%>>
    <a  class="a-detailmenu" <%-hasOnclick?`onclick="${onclick}"`:''%>><%-text%></a>  
    
</div>
<!-- <%-hasLink?`href="${link}?sc=menu-${idx}"`:''%> -->