<div class="mb-4"  ><!--  -->
    <ul class="nav nav-tabs d-flex flex-nowrap drag-scroll" id="scrollArea" style="white-space: nowrap;overflow: hidden!important;">
        <!-- <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='mainproduk'?'active':'' %>" aria-current="page" href="/editdatabase" >Produk WEB</a>
        </li> -->
        
        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='variantproduk'?'active':'' %>" aria-current="page" href="/editdatabase/higproduk" >Produk HIG</a>
        </li>
        
        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='investor'?'active':'' %>" href="/editdatabase/investor">Investor</a>
        </li>


        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='platform'?'active':'' %>" href="/editdatabase/platform">Platform</a>
        </li>
        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='hargaplatform'?'active':'' %>" aria-current="page" href="/editdatabase/hargaplatform" >Harga Platform</a>
        </li>
        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='colorvariant'?'active':'' %>" href="/editdatabase/colorvariant">Color Variant</a>
        </li>

        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='deliveryunit'?'active':'' %>" href="/editdatabase/deliveryunit">Delivery Unit</a>
        </li>
        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='itemprocurement'?'active':'' %>" href="/editdatabase/itemprocurement">Item Procurement</a>
        </li>
        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='vendor'?'active':'' %>" href="/editdatabase/vendor">Vendor Procurement</a>
        </li>
        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='office'?'active':'' %>" href="/editdatabase/office">Office</a>
        </li>
        <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='coa'?'active':'' %>" href="/editdatabase/coa">COA</a>
        </li>
        <!-- <li class="nav-item me-5">
            <a style="cursor: pointer;" class="nav-link <%-menuatas=='pendingpayment'?'active':'' %>" href="/editdatabase/pendingpayment">Pending Payment</a>
        </li> -->

    </ul>
</div>