<%
  var homeopen = "";
  var adminopen = "";
  var podo = "";
  var upstock = "";
  var forcestatusrequest = "";
  var daftarrequest = "";
  var draftplan = "";
  var daftarpembelian_item = "";
  var pendingpayment = "";
  var daftarpembelian = "";
  var daftarpembelian_bahan = "";
  var bill_due = "";
  var stockproduk = "";
  var stockprodukup = "";
  var bank = "";
  var banklimbo = "";
  var editdatabase = "";
  var pemantauan = "";
  var requsetbeli = "";
  var statistik = "";
  var bankinvestor = "";
%>

<% if (navatasactive == "home") { %>
  <% homeopen = "active"; %>

<% } else if (navatasactive == "supervisor-semuapesanan") { %>
  <% adminopen = "active"; %>

<% } else if (navatasactive == "podo") { %>
  <% podo = "active"; %>

<% } else if (navatasactive == "supervisor-stock") { %>
  <% upstock = "active"; %>

<% } else if (navatasactive == "supervisor-forcestatus") { %>
  <% forcestatusrequest = "active"; %>

<% } else if (navatasactive.includes("daftarpembelian_bahan")) { %>
  <% daftarpembelian_bahan = "active"; %>

<% } else if (navatasactive.includes("daftarpembelian_item")) { %>
  <% daftarpembelian_item = "active"; %>
  
<% } else if (navatasactive.includes("pendingpayment")) { %>
  <% pendingpayment = "active"; %>

<% } else if (navatasactive.includes("draftplan")) { %>
        <% draftplan = "active"; %>

<% } else if (navatasactive.includes("bill_due")) { %>
  <% bill_due = "active"; %>

<% } else if (navatasactive.includes("bank")) { %>
  <% bank = "active"; %>
  <% if (navatasactive == "finance-banklimbo") { %>
    <% banklimbo = "active"; %>
  <% } else if (navatasactive == "finance-bankinvestor") { %>
    <% bankinvestor = "active"; %>
  <% } %>

<% } else if (navatasactive == "editdatabase") { %>
  <% editdatabase = "active"; %>

<% } else if (navatasactive.includes("statistik")) { %>
  <% statistik = "active"; %>
<% } %>





<div class="d-flex" >
    <nav class="sidebar d-flex flex-column flex-shrink-0 position-fixed" id="sidabarutamashow">
        <!--<button class="toggle-btn" onclick="toggleSidebar()">
            <i class="fas fa-chevron-left"></i>
        </button>-->
        <div class="px-4 pt-4">
            <h4 class="logo-text mb-0"><i id="klikhidebar" class="bi bi-caret-left-fill toggle-btn" onclick="toggleSidebar()"></i> <span class="logo-text-hide"  onclick="toggleSidebar()"> Sembunyikan Menu</span></h4>
            <hr style="color: grey;">
        </div>

        <div class="" id="scrolled" style="height: calc(100vh - 175px);">
            <div class="col" style="display: flex;flex-direction: column;padding-bottom: 4em;"><!-- display: flex;flex-direction: column; nav flex-column -->
                <a class="sidebar-link text-decoration-none px-3">
                    <i class="bi bi-people-fill me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Admin"></i>
                    <span class="hide-on-collapse">Procurement</span>
                </a>
                <div class="hide-on-collapse-detailmenu px-3">
                    <hr style="color: grey;">
                        <div class="row d-none">
                            <div class="col-8">
                                <span>Tugas Mendatang</span>
                            </div>
                            <div class="col-3" style="text-align: right;">
                                <span id="tugasmendatang">0</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <span>Tugas Saya</span>
                            </div>
                            <div class="col-3" style="text-align: right;">
                                <span name="totaltugassayaall">0</span>
                            </div>
                        </div>
                    <hr style="color: grey;margin-bottom: 0;">
                </div>
                <br>

                <%- include('./buttonsidebar/buttonmenu', {
                    icon: 'bi-house-fill',
                    text: 'Home',
                    activemenudasar: homeopen,
                    link: '/supervisor/produksipesanan'
                }) %>

                <%- include('./buttonsidebar/menuarrow',
                    {id:'daftarpembelianmenuarrow',
                    text:'Daftar Pembelian',
                     icon:"bi-ui-checks",
                    activemenudasar:`${draftplan}${daftarpembelian_item}${pendingpayment}${daftarpembelian_bahan}${bill_due}`,
                    listsubmenu:[
                            {
                                text:'Draft Plan',
                                activesubmenu:draftplan,
                                link:'/procurement/daftarpembelian/input',
                            },
                            {
                                text:'Approval Item',
                                activesubmenu:daftarpembelian_item,
                                link:'/procurement/daftarpembelian',
                            },
                            {
                                text:'Pending Payment',
                                activesubmenu:pendingpayment,
                                link:'/procurement/pendingpayment',
                            },
                            {
                                text:'Pembelian Bahan',
                                activesubmenu:daftarpembelian_bahan,
                                link:'/procurement/daftarpembelian/pembelianbahan',
                            },
                             {
                                text:'Bill Due',
                                activesubmenu:bill_due,
                                link:'/procurement/bill/due',
                            }
                        ]
                    }
                )%>


                <%- include('./buttonsidebar/menuarrow',
                    {id:'formmenuarrow',
                    text:'Form',
                     icon:"bi-ui-checks",
                    activemenudasar:`${daftarrequest}`,
                    listsubmenu:[
                            {
                                text:'Request Pembelian',
                                activesubmenu:requsetbeli,
                                link:'/procurement/daftarrequest',
                            },
                        ]
                    }
                )%>

                <%- include('./buttonsidebar/menuarrow',
                    {id:'bankingmenuarrow',
                    text:'Banking',
                     icon:"bi-bank2",
                    activemenudasar:`${bank}`,
                    listsubmenu:[
                            {
                                text:'Bank Limbo',
                                activesubmenu:banklimbo,
                                link:'/finance/banklimbo',
                            },
                            {
                                text:'Investor',
                                activesubmenu:bankinvestor,
                                link:'/finance/investor',
                            }
                        ]
                    }
                )%>
                <%- include('./buttonsidebar/buttonmenu',
                    {
                        icon:'bi-graph-up-arrow',
                        text:'Statistik',
                        activemenudasar:statistik,
                        link:'/statistik',
    
                    }
                )%>
                
                <%- include('./buttonsidebar/buttonmenu',
                    {
                        icon:'bi-speedometer2',
                        text:'Performa Saya (KPI)',
                        activemenudasar:'',
                        onclick:"warningunderbuild()"
    
                    }
                )%>
                
                <%- include('./buttonsidebar/menuarrow',
                    {id:'settingmenuarrow',
                    icon:'bi-gear-fill',
                    text:'Settings',
                    activemenudasar:'',
                    listsubmenu:[
                            {
                                text:'Logout',
                                activesubmenu:'',
                                onclick:'logout()'
                            },
                        ]
                    }
                )%>
            </div>
        </div>
       
        <%- include('versiondiv') %>
       

       
    </nav>

